.app {
  position: relative;
  width: 1440px;
  height: 1240px;
  background: #f9fafe;
  border-radius: 40px;
  margin: 100px auto;
}
.line {
  position: absolute;
  width: 692px;
  height: 0px;
  left: 46.26px;
  top: 566px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  transform: rotate(90deg);
}
.line-2 {
  position: absolute;
  width: 1030px;
  height: 0px;
  left: 394px;
  top: 594px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
}
